
.icon-docs:before { content: '\e800'; } /* '' */
.icon-folder:before { content: '\e801'; } /* '' */
.icon-folder-open:before { content: '\e802'; } /* '' */
.icon-file-image:before { content: '\e803'; } /* '' */
.icon-font:before { content: '\e804'; } /* '' */
.icon-bold:before { content: '\e805'; } /* '' */
.icon-italic:before { content: '\e806'; } /* '' */
.icon-align-left:before { content: '\e807'; } /* '' */
.icon-align-center:before { content: '\e808'; } /* '' */
.icon-align-right:before { content: '\e809'; } /* '' */
.icon-align-justify:before { content: '\e80a'; } /* '' */
.icon-list:before { content: '\e80b'; } /* '' */
.icon-strike:before { content: '\e80c'; } /* '' */
.icon-underline:before { content: '\e80d'; } /* '' */
.icon-scissors:before { content: '\e80e'; } /* '' */
.icon-paste:before { content: '\e80f'; } /* '' */
.icon-tint:before { content: '\e810'; } /* '' */
.icon-floppy:before { content: '\e811'; } /* '' */
.icon-language:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-git:before { content: '\e814'; } /* '' */
.icon-github:before { content: '\e815'; } /* '' */
.icon-github-circled:before { content: '\e816'; } /* '' */
.icon-gplus-squared:before { content: '\e817'; } /* '' */
.icon-html5:before { content: '\e818'; } /* '' */
.icon-linkedin-squared:before { content: '\e819'; } /* '' */
.icon-twitter:before { content: '\e81a'; } /* '' */
.icon-picture:before { content: '\e81b'; } /* '' */
.icon-camera:before { content: '\e81c'; } /* '' */
.icon-edit:before { content: '\e81d'; } /* '' */
.icon-file-pdf:before { content: '\e81e'; } /* '' */
.icon-doc:before { content: '\e81f'; } /* '' */
.icon-folder-empty:before { content: '\e820'; } /* '' */
.icon-folder-open-empty:before { content: '\e821'; } /* '' */
.icon-resize-full-alt:before { content: '\e822'; } /* '' */
.icon-login:before { content: '\e823'; } /* '' */
.icon-logout:before { content: '\e824'; } /* '' */
.icon-picture-1:before { content: '\e825'; } /* '' */
.icon-fontsize:before { content: '\e826'; } /* '' */